discord-webhook
django-auto-prefetch
django-debug-toolbar
django-simple-history
django>=0.0.0.dev0
hishel
httpx
pillow
platformdirs
python-dotenv
sentry-sdk[django]
undetected-playwright-patch
whitenoise[brotli]
