discord-webhook
django-allauth[socialaccount]
django-ninja
django-simple-history
django>=0.0.0.dev0
pillow
platformdirs
playwright
playwright
psycopg[binary]
python-dotenv
redis[hiredis]
selectolax
sentry-sdk[django]
twitchAPI
whitenoise[brotli]
