discord-webhook
django-auto-prefetch
django-debug-toolbar
django-ninja
django-simple-history
django>=0.0.0.dev0
hishel
httpx
pillow
platformdirs
playwright
python-dotenv
sentry-sdk[django]
whitenoise[brotli]
