body {
    background-color: #0c0c0c;
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #e91e63;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #e91e63;
}

.card {
    background-color: #111111;
    border: 1px solid #111111;
}

.card-title a {
    color: #ffffff;
}

.card-title a:hover {
    color: #e91e63;
}

.alert {
    background-color: #333333;
    border-color: #444444;
}

.list-group-item {
    background-color: #141414;
    border: 1px solid #141414;
}

.list-group-item a {
    color: #ffffff;
}

.list-group-item a:hover {
    color: #e91e63;
}

.btn-primary {
    background-color: #06172e;
    border-color: #000c1d;
}

.btn-primary:hover {
    background-color: #040e1d;
    border-color: #000c1d;
}
