/* Make background color darker and text white */
body {
    background-color: #0c0c0c;
    color: #ffffff;
}

/* Make links white */
a {
    color: #ffffff;
}

a:hover {
    color: #e91e63;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #e91e63;
}

/* Make the logo text pink */
.nav-title {
    color: #e91e63;
}

/* Top half of the card */
.card {
    background-color: #111111;
    border: 1px solid #000000;
}


/* Bottom half of the card */
.card-bottom {
    background-color: #141414;
    border-top: 1px solid #000000;
}

.btn-primary {
    background-color: #e91e63;
    border-color: #111111;
}

.btn-primary:hover {
    background-color: #af1548;
    border-color: #111111;
}

/* Django alerts */
/* https://docs.djangoproject.com/en/5.0/ref/contrib/messages/ */
.alert {
    background-color: #181818;
    border-color: #444444;
}

/* Table of games to the left */
.toc {
    top: 1rem;
}
