{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3">{{ toc|safe }}</div>
            <div class="col-lg-9">
                {% include "partials/info_box.html" %}
                {% include "partials/news.html" %}
                <h2>Reward Campaigns</h2>
                {% for campaign in reward_campaigns %}
                    {% include "partials/reward_campaign_card.html" %}
                {% endfor %}
                <h2>Organizations</h2>
                {% for org in orgs %}
                    <h2 id="org-{{ org|slugify }}">
                        <a href="#org-{{ org|slugify }}">{{ org }}</a>
                    </h2>
                    {% for game in org.games.all %}
                        {% include "partials/game_card.html" %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
