{% load socialaccount %}
<header class="d-flex justify-content-between align-items-center py-3 border-bottom">
    <h1 class="h2">
        <a href='{% url "core:index" %}' class="text-decoration-none nav-title">Twitch drops</a>
    </h1>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href='{% url "api-1.0.0:openapi-view" %}'>API</a>
            </li>
            <li class="nav-item d-none d-sm-block">
                <a class="nav-link" href="https://github.com/sponsors/TheLovinator1">Donate</a>
            </li>
            <li>
                <a class="nav-link" href='{% url "core:add_discord_webhook" %}'>Webhooks</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href='{% url "account_logout" %}'>Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href='{% provider_login_url "twitch" %}'>Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
