<div class="card mb-4 shadow-sm" id="campaign-{{ campaign.id }}">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="{{ campaign.image_url }}"
                 alt="{{ campaign.name }}"
                 class="img-fluid rounded-start"
                 height="283"
                 width="212"
                 loading="lazy">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h2 class="card-title h5" id="#reward-{{ campaign.id }}">
                    <a href="#campaign-{{ campaign.id }}" class="plain-text-item">{{ campaign.name }}</a>
                </h2>
                <p class="card-text text-muted">{{ campaign.summary }}</p>
                <p class="mb-2 text-muted">
                    Ends in: <abbr title="{{ campaign.starts_at|date:'l d F H:i' }} - {{ campaign.ends_at|date:'l d F H:i e' }}">{{ campaign.ends_at|timeuntil }}</abbr>
                </p>
                <a href="{{ campaign.external_url }}"
                   class="btn btn-primary"
                   target="_blank">Learn More</a>
                {% if campaign.instructions %}
                    <div class="mt-3">
                        <h3 class="h6">Instructions</h3>
                        <p>{{ campaign.instructions }}</p>
                    </div>
                {% endif %}
                {% if campaign.rewards.exists %}
                    <div class="mt-3">
                        <h3 class="h6">Rewards</h3>
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
                            {% for reward in campaign.rewards.all %}
                                <div class="col d-flex align-items-center position-relative">
                                    <img src="{{ reward.thumbnail_image_url }}"
                                         alt="{{ reward.name }} reward image"
                                         class="img-fluid rounded me-3"
                                         height="50"
                                         width="50"
                                         loading="lazy">
                                    <div>
                                        <strong>{{ reward.name }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
