{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <!-- Head start -->
        <meta charset="UTF-8">
        <meta name="description"
              content="{% block description %}Twitch drops{% endblock %}">
        <meta name="keywords"
              content="{% block keywords %}Twitch drops{% endblock %}">
        <meta name="author" content="TheLovinator">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}<title>Panso</title>{% endblock %}
        <link rel="icon" href="{% static 'favicon.ico' %}" sizes="32x32">
        <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
        <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <!-- Head end -->
    </head>
    <body class="d-flex flex-column vh-100">
        <!-- Body start -->
        <nav class="navbar navbar-expand-md border-bottom border-warning">
            <div class="container-fluid">
                <button class="navbar-toggler ms-auto"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="collapseNavbar">
                    <ul class="navbar-nav">
                        <!-- Home -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'twitch_drop_notifier:index' %}">Home</a>
                        </li>
                    </ul>
                    <!-- Donate button, top right corner -->
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="https://github.com/sponsors/TheLovinator1">Donate ❤️</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Content -->
        <div class="container-xl mt-3 mb-3">
            {% block content %}<!-- default content -->{% endblock %}
        </div>
        <!-- Content end -->
        <!-- Footer -->
        <footer class="footer bg-body-tertiary mt-auto">
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center">
                    <!-- License -->
                    <p class="col-md-4 mb-0 text-muted">
                        <a href="{% url 'twitch_drop_notifier:terms' %}" class="text-muted">CC BY-SA 4.0</a>
                    </p>
                    <!-- Links, right side of footer -->
                    <ul class="nav col-md-4 justify-content-end">
                        <!-- GitHub link -->
                        <li class="nav-item">
                            <a href="https://github.com/TheLovinator1/panso.se"
                               class="nav-link px-2 text-muted">GitHub</a>
                        </li>
                        <!-- Sitemap link -->
                        <li class="nav-item">
                            <a href="/sitemap.xml" class="nav-link px-2 text-muted">Sitemap</a>
                        </li>
                        <!-- Privacy link -->
                        <li class="nav-item">
                            <a href="{% url 'twitch_drop_notifier:privacy' %}"
                               class="nav-link px-2 text-muted">Privacy</a>
                        </li>
                        <!-- Contact link -->
                        <li class="nav-item">
                            <a href="{% url 'twitch_drop_notifier:contact' %}"
                               class="nav-link px-2 text-muted">Contact</a>
                        </li>
                    </ul>
                </footer>
            </div>
        </footer>
        <!-- Footer end -->
        <script src="{% static 'bootstrap.min.js' %}"></script>
        <!-- Body end -->
    </body>
</html>
