{% extends "base.html" %}
{% block title %}<title>Contact - Panso</title>{% endblock %}
{% block description %}Panso contact page{% endblock %}
{% block keywords %}Panso, Panso.se, Contact{% endblock %}
{% block content %}
    <div class="container">
        <article>
            <header>
                <h1>Contact</h1>
            </header>
            <section>
                <p>Feel free to contact me about anything. I will try to respond as soon as possible. Thank you!</p>
            </section>
            <section>
                <h2>GitHub Issues</h2>
                <p>
                    You can create an issue on GitHub <a href="https://github.com/TheLovinator1/panso.se/issues">here</a>.
                </p>
            </section>
            <section>
                <h2>Discord</h2>
                <p>
                    You can contact me directly on Discord:
                    <address>
                        <code>TheLovinator#9276</code>
                    </address>
                </p>
            </section>
            <section>
                <h2>Email</h2>
                <p>
                    You can contact me via email at either of these addresses:
                    <address>
                        <a href="mailto:hello@panso.se">hello@panso.se</a>
                        <br>
                        <a href="mailto:tlovinator@gmail.com">tlovinator@gmail.com</a>
                    </address>
                </p>
            </section>
        </article>
    </div>
{% endblock %}
