{% extends "base.html" %}
{% block title %}<title>Twitch-drops</title>{% endblock %}
{% block description %}Twitch-drops{% endblock %}
{% block keywords %}Twitch-drops{% endblock %}
{% block content %}
    <h1>Index</h1>
    <span class="text-body-secondary">This is the index page.</span>
    <br>
    <br>
    {% lorem %} {% lorem %} {% lorem %} {% lorem %}
    <br>
    <br>
    {% lorem %} {% lorem %} {% lorem %} {% lorem %}
    <br>
    <br>
    {% lorem %} {% lorem %} {% lorem %} {% lorem %}
    <br>
    <br>
    {% lorem %} {% lorem %} {% lorem %} {% lorem %}
{% endblock %}
